body {
    font-family: 'Roboto Mono',monospace;
    text-align:center;
    background-image: url('https://static.mundoeducacao.uol.com.br/mundoeducacao/2020/10/queimadas-florestais.jpg');
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
    margin-top: 20px
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .uninter-logo {
    width: 160px;
    position: absolute;
    top: 40px;
    right:40px;
  }
